<div class="top-row ps-3 navbar navbar-white bg-white">
    <div class="container-fluid">
        <div class="d-flex text-center">
            <div class="w-32 h-32 d-flex text-center justify-content-center bg-dark text-light rounded p-1 me-2">
                S
            </div>
        <a class="navbar-brand font-semibold ms-1" href="">Shouga</a></div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <i class="@NavBarIcon" style="font-size: 2rem;"></i>
            </span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house me-2" style="font-size: 1.3rem;"></i> 
                Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="suppliers" Match="NavLinkMatch.All">
                        <i class="bi bi-person me-2" style="font-size: 1.3rem;"></i>
                        Suppliers
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="collections" Match="NavLinkMatch.All">
                        <i class="bi bi-collection me-2" style="font-size: 1.3rem;"></i>
                        Collections
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="products" Match="NavLinkMatch.All">
                        <i class="bi bi-box me-2" style="font-size: 1.3rem;"></i>
                        Products
                    </NavLink>
                </div>
            
        
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="company" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-building me-2" style="font-size: 1.2rem;"></i>
                        Company
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="members" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-people me-2" style="font-size: 1.2rem;"></i>
                        Members
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string Slug => _stateContainer.Company is null ? "" : _stateContainer.Company.Slug;

    private string NavBarIcon => collapseNavMenu ? "bi bi-list" : "bi bi-x-lg";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _stateContainer.OnChange += async () =>
        {
            await InvokeAsync(StateHasChanged);
        };
    }
}
